.artRow {
  width: 80%;
  align-items: center;
  padding: 12px;
}

.artRow td {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-collapse: collapse;
}

.title {
  font-size: 1.5em;
}

.likes {
  align-items: center;
  position: relative;
  float: left;
  height: 100%;
}
