.navbar {
  background-color: gray;
}

.navbar_left {
  list-style: none;
  width: fit-content;
}

.navbar_left li {
  display: inline-flex;
  flex-direction: row;
  margin: 0.5rem;
}

.navbar_right {
  position: absolute;
  list-style: none;
  right: 0.5rem;
  top: 0.5rem;
}
